<span style="
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  color: grey;
">
  Hi <%= "#{@user.identification_name}!" %>
</span>
<p style="
  color: grey;
  margin-bottom: 32px;
">
  Please use the <b>link</b> below to reset your password
</p>
<div style=" margin: 1rem auto;">
  <a href="<%=  @reset_password_url %>" style="
    text-decoration: none;
    margin: 0 auto;
    display: block;
    padding: 10px 16px;
    max-width: 404px;
    min-width: 404px;
    color: white;
    box-shadow: none;
    border: none;
    background: #60a3f2;
    border-radius: 4px;
    text-align: center;">
    Reset your password
  </a>
</div>
